*{
    font-family: 'Nanum Gothic', sans-serif;
    
}

.masthead{
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.452) 100%, rgba(255,255,255,1) 100%) , url(./immagini/couple-with-laptop-around-cardboard-boxes.jpg);
    background-position:top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.masthead2{
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.452) 100%, rgba(255,255,255,1) 100%) , url(./immagini/shopping.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
}

.waves {
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.205));
    animation: wave 1s 1;
}


@keyframes wave {
    0% {
        bottom: -200px;
        opacity: 1;
    }

    100% {
        bottom: 0px;
        opacity: 0.7;
    }
}


:root{
    --main-color: #e33f30;
    --text-color: #666666;
    --light-grey: #e9ecef;
    --dark-grey:  #4d4d4d;
    --main-color-hover: #94170b;
    --section-color: #f8f9fa;
}
.text-grey{
    color: #ffffff80;
}

.text-main {
    color: var(--main-color);
}


.btn-nav{
    background-color: var(--main-color);
    color: var(--light-grey);
}
.btn-nav:hover{
    background-color: var(--main-color-hover);
    
}

.btn-filter {
    border-radius: 20px 0px
}

.btn-filter:hover {
    color: white;
}


.color-link{
    color: white;

}
.color-link:hover{
    color:white;
}

.logo{
    height: 50px;
}
.navbar-toggler-icon{
    color: var(--dark-grey) !important;
}

.nav-link{
    color:black;
}

.nav-link.active{
    color: var(--main-color)
}

.navbar{
    border-radius: 8px;
}

.bg-inputs {
    background: #ffffff4d;
    border-radius: 7px;

}

.search-input {
    border-radius: 7px;
    border: none;
    width: 100%;
    color: var(--dark-grey);
}

.search-input2{   
    border-radius: 7px;
    border: none;
    width: 100%;
    color: #e92727 !important;
}

.search-input:hover >  {
    color: white !important;
}

.pin-location {
    top: calc(50% - 13px);
    right: 0%;
    font-size: 22px;
    padding-right: 15px;
    color: var(--dark-grey)
}

.card-category {
    color: var(--main-color);
    height: 180px;
    position: relative;
    transition: .3s all ease-in-out

}



.p-category {
    padding: 2px 15px;
    border-radius: 30px;
    background: var(--light-grey);
    width: 35%;
    display: inline-block;
    font-size: 16px;
    color: var(--text-color);
}

/* -------------------------   NAVABAR   ------------------------ */


/* il testo dropdown */
.dropbtn {
    background-color: transparent;
    border: none;

  }
  
  /* contenuto nel dropdown (nascosto) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    z-index: 1;
  }
  
  /* link dentro il dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* cambia colore del link dentro il dropdown */
  .dropdown-content a:hover {background-color:var(--light-grey);}

  /* mostra il dropdown all'hover*/
  .dropdown:hover .dropdown-content {display: block;}
    
  /* cambia il colore di tutti i bottoni all'hover */
  .nav-link:hover{color: var(--main-color-hover);}


  .wrapper-categories {
      bottom: 200px;
      border-radius: 7px;

      /* padding: 60px 10px; */
  }

  .b-radius-card:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 7px;
    top: -10px;
    box-shadow: 0 5px 30px -5px rgb(48 227 202 / 50%);
  }

  .b-radius-card:hover > h6 {
    color: white;
  }


  .b-radius-card:hover .p-category {
    background-color: #fdfdfd;
    color: var(--dark-grey)
  }




  .row-category {
      border-radius: 7px;
      /* border: 1px solid black; */
      min-height: 180px;
      box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
  }

.bg-section {
  background-color: var(--section-color);
}

.bg-card-annunci{
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
}

.img-card-annunci{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
}

.hearth{
    background-color: var(--light-grey);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--main-color);
    
}

.hearth-2{
    background-color: rgba(211, 211, 211, 0.192);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.hearth:hover{
    background-color: rgb(255, 51, 0);
    color: white;
}

.hearth-2:hover{
    background-color: rgb(255, 51, 0);
    color: white;
    transform: rotate(360deg);
    animation-name: heart ;
    animation-duration: 1s;
    animation-iteration-count: 1;


}

@keyframes heart {
    0% {
        transform: rotate(180deg);
    }
    80% {
        transform: rotate(360deg);
        
    }
    100% {
        transform: scale(1.2);
    }
}

.link-card-featured{
    color: var(--main-color);
    text-decoration: none;
}
.yellow{
    color:yellow;
}
.p-category.black{
    color: black;
    font-size: 13px;
    text-align: center;
}




.glide__arrow--left {
    position: absolute;
    top: 100%;
    left: 30%;
    border: none;
    display: inline-block;
    color: black;
    border-radius: 10px;
    transition: ease-in 0.3s ;
}


.glide__arrow--right {
    position: absolute;
    top: 100%;
    right: 30%;
    display: inline-block;
    color: black;
    border-radius: 10px;
    transition: ease-in 0.3s 
}

.glide__arrow--left:hover, .glide__arrow--right:hover {
    color: var(--main-color);
    font-size: 18px;
}

.underline-p::after {
    content: '';
    height: 3px;
    width: 80px;
    background: var(--main-color);
    position: absolute;
    left: calc(50% - 40px);
    border-radius: 10px;

}


.underline-page-ann::after {
    content: '';
    height: 3px;
    width: 100px;
    background: var(--main-color);
    position: absolute;
    top: 53%;
    left: calc(50% - 48px);
    border-radius: 10px;
}

.btn-popular {
    bottom: 8%;
    left: 10%;
    
}

.btn-popular > btn {
    border-radius: 7px;
    
}

.bg-image {
    background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.452) 100%, rgba(255,255,255,1) 100%) , 
    url('https://picsum.photos/300/300') ;
  
    height: 300px;

    border-radius: 7px;
    box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
    background-position: center;
    transition: all 1.5s ease;
    background-repeat:no-repeat ;
    background-size:100%;
    
}
.bg-image-card { 
    background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.452) 100%, rgba(255,255,255,1) 100%) , 
    url('https://picsum.photos/500') ;

    height: 350px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
    background-position: center;
    transition: all 1.5s ease;
    background-repeat:no-repeat ;
    background-size:100%;
    
}

.bg-image-card:hover{ 
    background-size: 110% ;
    background-repeat: no-repeat;
}


.bg-image:hover{
    
    background-size: 110% ;
    background-repeat: no-repeat;
}

.bg-image2 {
    background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.452) 100%, rgba(255,255,255,1) 100%) , 
    url('https://picsum.photos/300/450') ;
    height: 450px;
    border-radius: 7px;
    box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
    background-position: center;
    transition: all 1.5s ease;
    background-repeat:no-repeat ;
    background-size:100%; 
}
.bg-image2:hover{
    background-size: 110% ;
    background-repeat: no-repeat;

}


@media screen and (max-width: 992px ) {
    .bg-image2 {
        background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.452) 100%, rgba(255,255,255,1) 100%) , 
        url('https://picsum.photos/300/300') ;
        height: 300px;
        border-radius: 7px;
        box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);
        background-position: center;
        background-repeat:no-repeat ;
        background-size:100%; 
    }
}



.bottone-popular{
    max-width: 30%;
    border-radius: 30px;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 12px;
    margin-bottom: 15px;
}

.bottone-popular:hover{
    background-color: var(--main-color-hover);
}

input:focus {
    outline: none;
}

/* .nav-link.log-in {
    border-left: 1px solid var(--main-color);
    height: 50%;
    
} */


.border-radius {
    border-radius: 0px;
}

.blur-nav {
    background-color: #ffffffdc !important;
    backdrop-filter: blur(2px);
    box-shadow: 0px 6px 12px 5px rgba(109, 109, 109, 0.123);

}

.transition {
    transition: 0.5s ease-in-out;
}

    

.rotondo{
    border-radius: 15px;
}


.bg-filter {
    background-color: var(--light-grey);
    border-radius: 7px;
    
}






/* DOUBLE SLIDER PRICE */

input[type=range] {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            
    width: 310px;
    padding: 0 1px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 15px;
    outline: none;
    background: linear-gradient(#e33f30, #e33f30) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 100% 5px;
    pointer-events: none;
  }
  input[type=range]:active,
  input[type=range]:focus {
    outline: none;
  }


  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    -webkit-appearance: none;
            appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
  }
    input[type=range]::-webkit-slider-thumb::before {
    content: ' ';
    display: block;
    position: absolute;
  } 

  
  .multi-range {
    display: inline-block;
    height: 25px;
  }
 
  .multi-range input[type=range] {
    position: absolute;
  }
  .multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
    background-color: red;
  }
  .multi-range input[type=range]:nth-child(2) {
    background: none;
  }
  .multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
    background-color: grey;
  }
  
 /* DOUBLE SLIDER PRICE */


 #minPrice {
     top: 90%;
     left: 0;
     font-size: 12px;

 }


 #maxPrice {
    top: 90%;
    left: calc(310px - 47px);
    font-size: 12px;
} 

.top-100px {
    top: 105px;
}

/* .text-ann {
   margin-bottom: 15px;
   padding: 10px 30px;
   background-color: #30e3cb18;
   border-radius: 10px;
   backdrop-filter: blur(3px);
} */

.eyes{
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--main-color);
    margin-bottom: 20px;
    border-radius: 20px 0px 7px;
    position: absolute;
    bottom: -20px;
    right: 0px;
    box-shadow: -2px -2px 14px 1px rgba(0,0,0,0.66);
    backdrop-filter: blur(1.7px);
}

.eyes:hover{
    background-color: rgb(255, 51, 0);
    color: white;
    transform: rotate(360deg);
    animation-name: heart ;
    animation-duration: 1s;
    animation-iteration-count: 1;


}







/* FOOTER */


.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background:var(--main-color);
    border-color: var(--main-color);
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/







@media screen and (max-width: 1398px) {
    
    input[type=range] {           
        width: 265px;
}
    #maxPrice {
        top: 90%;
        left: calc(265px - 47px);
}
}


@media screen and (max-width: 1197px) {
    
    input[type=range] {           
        width: 210px;
    }
    #maxPrice {
        top: 90%;
        left: calc(210px - 47px);
    }
}

@media screen and (max-width: 978px) {
    
    input[type=range] {           
        width: 645px;
    }
    #maxPrice {
        top: 90%;
        left: calc(645px - 47px);
    }
}

@media screen and (max-width: 745px) {
    
    input[type=range] {           
        width: 465px;
    }
    #maxPrice {
        top: 90%;
        left: calc(465px - 47px);
    }
}


@media screen and (max-width: 415px) {
    
    input[type=range] {           
        width: 300px;
    }
    #maxPrice {
        top: 90%;
        left: calc(300px - 47px);
    }
}





@media screen and (min-width: 729px) and (max-width: 753px){
    
    input[type=range] {           
        width: 465px;
    }
    #maxPrice {
        top: 90%;
        left: calc(465px - 47px);
    }
}








.span-price {
    bottom: 10px;
}


.transition-nav {
    transition: 1.2s linear ;
}

button {
    border: none;
    background-color: transparent;
}

.btn-footer {
    background-color: var(--main-color) !important;
    border: none;
}


.btn-footer:hover {
    background-color: var(--main-color-hover) !important;
    color: white !important;
}













